{% extends "base.html" %}
{% block content %}

<div class="mainHeader">
    <h3>Create Thread</h3>
    <div class="createThread">
        <h5><a href="{{ request.path|slice:":-14" }}">Go Back</a></h5>
    </div>
</div>
{% if not user.is_authenticated %}
    You must log in before starting a thread.
{% else %}
<form method="post">
	{% csrf_token %}
	<div class="add_thread_forum">{{form.forum}}</div>
	<div class="add_thread_title">{{form.title}}</div>
	<div class="add_thread_body">{{form.body}}</div>
	<input type="submit" value="Submit" />
</form>
{% endif %}

{% endblock content%}
