{% extends "base.html" %}

{% block content %}

	<div class="mainHeader"><h2>Categories</h2></div>
	{% if category_list %}
  	<ul>
		  {% for category in category_list %}
				<div class="catHeader">
					<li><h3>{{ category.name }}</h3></li>
				    <ul>
							<div class="catForums">
					    	{% for forum in category.forums.all %}
                            <li><a href="{% url 'forum:forum' forum.id forum.slug %}">{{forum.name}}</a> - 
                                {% if forum.thread_count == 1 %}
                                    {{forum.thread_count}} thread.
                                {% else %}
                                    {{forum.thread_count}} threads.
                                {% endif %}
                                <br>
								<small><i>{{forum.description}}</i></small>
                            </li>
						    {% endfor %}
							</div>
				    </ul>
				</div>
		  {% endfor %}
	  </ul>
	{% else %}	
	  <p>No categories created yet.</p>
	{% endif %}

{% endblock content %}
