{% extends "base.html" %}
{% block content %}


<div class="mainHeader"><h3>{{forum.name}}</h3></div>
<div class="threads">
{% if thread_list %}
	<ul>
	  	{% for thread in thread_list %}
				<li>
					<a href="{% url 'forum:thread' thread.pk thread.slug %}">{{ thread.title }}</a> - 
					{% if thread.post_count == 1 %}	
						{{ thread.post_count }} reply.
					{% else %}
						{{ thread.post_count }} replies.
					{% endif %}		
				</li>
	  	{% endfor %}
 	</ul>
{% else %}
  <p style="text-indent: 20px">No threads created yet.</p>
{% endif %}
</div>
{% endblock content %}
