{% extends "base.html" %}
{% block content %}

<h1>{{forum.name}}</h1>
{% if thread_list %}
	<ul>
		<div class="threads">
	  	{% for thread in thread_list %}
				<li>
					<a href="{% url 'forum:thread' thread.pk thread.slug %}">{{ thread.title }}</a> - 
					{% if thread.post_count == 1 %}	
						{{ thread.post_count }} reply.
					{% else %}
						{{ thread.post_count }} replies.
					{% endif %}		
				</li>
	  	{% endfor %}
		</div>
 	</ul>
{% else %}
  <p>No threads created yet.</p>
{% endif %}

{% endblock content %}
