<!DOCTYPE html>
<div class="header">
	<div class="headerLogin">
		<ul>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'forum:login' %}?next={{request.path}}">Log In</a></li>
			    <li><a href="{% url 'forum:create_user' %}">Sign Up</a></li>
            {% else %}
                <li><a>{{ user.username }}</a></li>
                <li><a href="{% url 'forum:logout' %}">Log Out</a></li>
            {% endif %}
		</ul>
	</div>
	<h1><a href="{% url 'forum:category' %}">High-Elo Forum</a></h1>
</div>
