{% extends "base.html" %}
{% block content %}
<div class="mainHeader">
	<h3><a href="{% url 'forum:forum' thread.forum.pk thread.forum.slug %}">{{ thread.forum.name }}</a>: {{ thread.title }}</h3>
    <div class="createThread">
        <h5><a href="{{ request.get_full_path }}create_post">Write a response!</a></h5>
    </div>
</div>
<small><i>Started by {{thread.author}}, {{ thread.created }}</i></small>
<ul>
	<li>{{ thread.body }}</li>
	<small>{{ thread.created }}</small>
	{% for post in post_list %}
		<li>{{ post.body }}</li>
		<small>{{ post.created }}</small>		
	{% endfor %}
</ul>
{% endblock content %}
