{% extends "base.html" %}
{% block content %}

<div class="threadForumHeader">
	<h1><a href="{% url 'forum:forum' thread.forum.pk thread.forum.slug %}">{{ thread.forum.name }}</a></h1>
</div>
<h2>{{thread.title}}</h2>
	<small>Started by {{thread.author}}, {{ thread.created }}</small>
	<form action="{% url 'forum:name' %}">
		<input type="submit" value="Post a Reply" />
	</form>
	{% if post_list %}
		<ul>
			{% for post in post_list %}
				<li>{{ post.body }}</li>
				<small>{{ post.created }}</small>
			{% endfor %}
		</ul>
	{% else %}
 	 <p>No posts in this thread yet.</p>
	{% endif %}

{% endblock content %}
